<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" text="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="show">
    <ion-card-header>
      <ion-card-title>{{show.name}}</ion-card-title>
      <ion-card-subtitle><span *ngIf="show.status">Status: <strong>{{show.status}}</strong></span>
        <span *ngIf="show.status && show.premiered">   |   </span>
        <span *ngIf="show.premiered"> Aired: <strong>{{show.premiered | date}}</strong></span></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-text [innerHTML]="show.summary"></ion-text>
      <ion-list *ngFor="let season of show.episodes">
        <ion-list-header>
          <ion-label>
            <h3>Season {{season[0].season}}</h3>
            <p>{{season[0].airDate}}</p>
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let episode of season">
          <ion-avatar *ngIf="episode.image" slot="start">
            <img [src]="episode.image" [alt]="episode.name">
          </ion-avatar>
          <ion-label>
            <h3>{{episode.season}}{{episode.episode}} - {{episode.name}}</h3>
            <p [innerHTML]="episode.summary"></p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
